*{
    margin:0;
    padding:0;
}


.container{
    background: url(tsrm.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.container.navbar{
    width: 100%;
    height: 100px;
    background:rgba(68, 92, 114, 0.4) ;
}

.navbar ul{
    float: right;
    margin-right: 85px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a {
    color: rgb(52, 30, 3);
    text-decoration: none;
    font-size: 20px;
    padding: 6 px 13px;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: pink;
    border-radius: 1%;
}


.center h1{
    color: black;
    font-size: 70px;
    font-weight: bold;
    width: 500px ;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
}












